* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather {
    display: flex;
}

.weatherSegment {
    flex-direction: column;
    margin: 30px;
    text-align: center;
}

#nameOfCityEntered {
    background-color: yellow;
    text-align: center;
}

#mainBanner {
    background-image: linear-gradient(to right, blue , cyan);
    color: aliceblue;
    text-align: center;
}

#FiveDayForecast {
    text-align: center;

}

main {
    display: flex;
}

main nav {
    float: left;
    width: 20%;
    background-image: linear-gradient(to bottom, blue, cyan);
    margin: 2px;
    color: white;
}

main section {
    float: right;
    width: 80%;
    margin: 2px;
}

#searchHistory {
    /* list-style-type: none; */
}