* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.weather {
    display: flex;
}

.weatherSegment {
    flex-direction: column;
    margin: 30px;
}

#nameOfCityEntered {
    background-color: yellow;
    text-align: center;
}

#mainBanner {
    background-image: linear-gradient(to right, blue , cyan);
    color: aliceblue;
    text-align: center;
}

#FiveDayForecast {
    text-align: center;
    
}