* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    background-color: rgb(58, 165, 165);
    background-image: url(https://media1.giphy.com/media/PIh4laWJlz9bq/giphy.gif);
    background-size: cover;
}

#weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.weatherSegment {
    flex-direction: column;
    margin: 20px;
    text-align: center;
    background-color: grey;
}

#nameOfCityEntered {
    background-color: yellow;
    text-align: center;
}

#mainBanner {
    color: aliceblue;
    text-align: center;
}

#FiveDayForecast {
    text-align: center;

}

main {
    display: flex;
}

main nav {
    float: left;
    width: 15%;
    margin: 2px;
    color: white;
    background-color: deepskyblue;
    text-align: center;
}

main section {
    float: right;
    width: 85%;
    margin: 2px;
}

#searchCityButton {
    border-radius: 8px;
    margin: 5px;
    width: 70%;
}

#cityName {
    width: 90%;
    border-radius: 8px;
    text-align: center;
}